@import url('https://fonts.googleapis.com/css2?family=Telex:wght@200;300;400;600;700;800;900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Telex', sans-serif;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}